* {
    background-color: #F3F5FC;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 30px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 200px;
}

.text-area {
    border:none;
    color: #0a3871;
    margin-top:  90px;
    text-transform: lowercase;
}

::placeholder { 
    color: #0A3872;
}

.text-area:focus {
    outline:none;
}

.mensaje {
    background: white;
    background-image: url("images.png");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 90px;
    padding-left: 40px;
    position:fixed;
    margin-top: 18px;
    transition: background-image 0.3s ease; /* Suavizar el cambio de imagen de fondo */
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    margin-top: 18px;
}

.btn-encriptar {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-encriptar:hover {
    background-color: #003366;
    transform: scale(1.05);
}

.btn-desencriptar {
    background-color: #D8DFE8;
    border: 1px solid #0a3871;
    border-radius: 15px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;  
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-desencriptar:hover {
    background-color: #aab8c6;
    transform: scale(1.05);

}

.btn-copiar {
    border: 1px solid #0a3871;
    border-radius: 15px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn-copiar:hover {
    background-color: #d8e0f0;
    transform: scale(1.05);


}

.informacion {
    color: #495057;
    font-size: 20px;
}

